<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="repositoriesConfiguration" type="Bia.SvnGuard.Configuration.RepositoriesConfigurationSection, Bia.SvnGuard"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="SvnLookPath" value="C:\Program Files\TortoiseSVN\bin\svnlook.exe"/>
    <add key="StylecopPath" value="C:\Program Files (x86)\StyleCop 4.7"/>
    <add key="RepositoriesPath" value="C:\SvnServer"/>
    <add key="StylecopWrapper" value="D:\Dropbox\Projects\Windows\Bia.SvnGuard\Bia.StylecopWrapper\bin\Debug\Bia.StylecopWrapper.exe"/>
    <add key="StylecopSettings" value="C:\_SVN\Redirector\Settings.stylecop"/>
    <add key="TempFolder" value="D:\Dropbox\Projects\Windows\Bia.SvnGuard\Bia.SvnGuard\bin\Debug\Temp"/>
    <add key="FirstRun" value="true" />
  </appSettings>
  <repositoriesConfiguration>
    <repositories>
      <repository name="Redirector" enabled="true" />
      <!--<repository name="_sintek" enabled="true" />-->
    </repositories>
  </repositoriesConfiguration>
</configuration>